<div class="container-fluid" style="height: 100%;">
  <div class=" text-center">
    <h1>
      <img class="logo" src="assets/logo.svg" alt="angular logo"/>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <h3 [hidden]="isLoading">Ajuda o Movimento Maker Portugal!</h3>
    <q>Cola o teu link do Gearbest e gera o teu novo link.</q>
  </div>
  <div class=" text-center input-cont">
    <input type="text" [(ngModel)]="linkToGenerate" class="form-control" placeholder="Cola o teu URL aqui...">
    <button type="submit" (click)="submit()" class="btn btn-primary my-1">Gerar e Comprar</button>
  </div>
  <div class=" text-center copy-url" [ngClass]="{'hide':(!generatedURL)}">
    <input *ngIf="generatedURL" [value]="generatedURL.promotion_link" #userinput name="" id="">

    <button *ngIf="generatedURL" href="" class="btn btn-primary" (click)="copy(generatedURL.promotion_link)">Copiar
    </button>
  </div>
</div>
